/* General Styles */
body {
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: azure;
}

/* Header Styles */
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(0, 0, 0, 0.5); /* Add an overlay */
  padding: 20px;
  border-radius: 15px;
}

/* Navigation Styles */
nav {
  background-color: #19366b;
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  width: 100%;
  top: 0%;
  position: fixed;
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Footer Styles */
footer {
  border: solid 1px;
  color: white;
  border-radius: 15px;
  background-color: #1e172b;
  padding: 20px;
  margin-top: 20px;
}

/* Link Styles */
a {
  color: azure;
  text-decoration: none;
}

a:hover {
  color: rgb(0, 153, 255);
}

/* Communication Links Styles */
.communication {
  position: relative;
  bottom: 0%;
  list-style-type: none;
  justify-content: space-evenly;
  display: flex;
  font-size: x-large;
}

/* Grid Layout Styles */
section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

/* Box Styles */
.box {
  border: solid 1px;
  border-radius: 15px;
  padding-left: 25px;
}

.box-1, .box-3 {
  grid-row: span 1;
}

.box-2 {
  grid-row: span 2;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
  img {
    width: 150px;
    height: 150px;
  }

  body {
    font-size: small;
  }

  h1 {
    font-size: 30px;
  }

  .communication {
    font-size: small;
  }
}

@media screen and (min-width: 601px) and (max-width: 850px) {
  img {
    width: 200px;
    height: 200px;
    padding-top: 20px;
  }

  body {
    font-size: medium;
  }

  h1 {
    font-size: 50px;
  }

  .communication {
    font-size: medium;
  }
}

/* Button Styles */
button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

button[type="reset"] {
  background-color: #dd2f1c;
  color: white;
}

button[type="submit"] {
  background-color: #0eaf51;
  color: white;
}

button[type="reset"]:hover {
  background-color: red;
}

button[type="submit"]:hover {
  background-color: green;
}
